body {
  position: relative;
  padding: 0;
  margin: 0;
}
.section {
  padding: 50px 50px;
  display: flex;
  justify-content: center;
}

#search_box {
  padding: 8px 10px;
  margin: 0;
  font-size: 20px;
  border: none;
  background-color: #ddd;
  border-radius: 5px;
}
#search_btn {
  padding: 8px 10px;
  margin: 0;
  font-size: 20px;
  border: none;
  background: tomato;
  border-radius: 5px;
}
#search_btn:hover {
  cursor: pointer;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-overflow: ellipsis;
  text-align: center;
}

.mealCard {
  padding: 50px;
  margin: 25px;
  border: 1px solid black;
}
.mealImg {
  width: 100%;
}
.mealName {
  display: block;
  padding: 25px 0 0 0;
  text-decoration: none;
  font-size: 36px;
  color: black;
  font-weight: 600;
}
.mealName:hover {
  cursor: pointer;
}

#popup {
  padding: 30px 80px;
  display: flex;
  box-sizing: border-box;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 10;
  display: none;
  color: white;
}

#popup img {
  width: 35%;
}

#popup p {
  width: 50%;
  font-size: 18px;
}

#mealHeader {
  display: flex;
}
#mealTitle {
  font-size: 32px;
}
#mealHeader li {
  margin: 0 20px;
  font-size: 24px;
  list-style-type: none;
}

#ingredients li {
  font-size: 20px;
  list-style-type: none;
  margin-bottom: 10px;
}
#closePop {
  font-size: 26px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: darkgray;
  border: none;
  border-radius: 5px;
}
